* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Deixa suave quando o usuário for utilizar o site clicando no menu de navegação de uma seção para a outra */
}

body {
    /* background: linear-gradient(141deg,rgba(176, 176, 176, 1) 0%, rgba(135, 135, 135, 1) 50%, rgba(79, 79, 79, 1) 100%); */
    background-color: #232323;
    background-attachment: fixed;
    transition: .5s;
}

/* Header */
header {
    display: flex; /* Usando flexbox para layout */
    background-color: transparent; /* Fundo transparente */
    width: 14%; /* Largura total */
    height: auto; /* Ajuste automático da altura */
    justify-content: center; /* Centraliza horizontalmente */
    position: fixed;
}


/* Estilização do botão de Dark e Light do fundo */
.trilho { /* Estilização do trilho do botão */
    display: flex;
    width: 90px;
    height: 40px;
    background-color: grey;
    border-radius: 50px 50px;
    margin-top: 1%;
    margin-left: 80%;
    position: relative;
    cursor: pointer;
}

.trilho .indicador { /* Estilização do indicador do botão */
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    margin: 2.5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: transform 0.3s ease; /* Animação suave */
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.trilho.dark { /* Estilização do trilho quando em modo dark */
    background-color: #c3c3c3;
}

.trilho.dark .indicador{ /* Estilização do indicador quando em modo dark */
    left: 49px;
    background-color: white;
}

body.dark { /* Estilização do body quando em modo light */
    background-color: #e4e4e4;
    transition: .5s;
}

body.dark #conteudo-principal { /* Estilização do conteudo principal quando em modo light */
    color: black;
}

body.dark .btn-expandir > i {
    color: black;
    font-size: 24px;
    cursor: pointer;
}

body.dark #menu-navegacao {
    background-color: #f1faee;
    box-shadow: 3px 3px 0 black;
    transition: .5s;
}

body.dark ul li.item-menu a .icon > i {
    color: black;
}

body.dark ul li.item-menu a .txt-link {
    color: black;
}

body.dark #menu-navegacao ul a:hover {
    color: black;
    background-color: grey;
}

body.dark #menu-navegacao ul a { /* Estilização do menu de navegação do menu quando em modo light */
    color: black;
}

body.dark #rodape { /* Estilização do rodapé quando em modo light */
    color: black;
}

/* Início do Menu de Navegação */
#menu-navegacao {
    width: 68px; /* largura fixa quando recolhido */
    height: 100%;
    background-color: #232323;
    padding: 40px 0;
    box-shadow: 3px 3px 0 #f1faee;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

#menu-navegacao.expandir {
    width: 255px; /* largura ao expandir */
}

.btn-expandir {
    width: 100%;
    padding-left: 22px;
    /* margin-bottom: 10%; */
}

.btn-expandir > i {
    color: #f1faee;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

ul li.ativo {
    background-color: grey;
}

ul li.item-menu:hover {
    background-color: grey;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

/* Ícones */
ul li.item-menu a .icon > i {
    font-size: 28px;
    color: #f1faee;
    text-align: center;
    width: 40px; /* reserva espaço fixo */
    flex-shrink: 0;
}

/* Texto */
ul li.item-menu a .txt-link {
    color: #f1faee;
    margin-left: 20px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Quando o menu expande */
#menu-navegacao.expandir .txt-link {
    opacity: 1;
    visibility: visible;
}

/* Fim do Menu de Navegação */

#conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f1faee;
    box-shadow: 0 0 0 0px rgb(0,0,0);
    height: auto;
    width: 70%;
    margin: auto;
    border-radius: 20px 20px;
    margin-left: 16%;
}

#sobre-mim {
    height: 100vh;
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    justify-content: flex-start; /* Começa da esquerda */
    gap: 5%; /* Espaço entre a imagem e o texto */
    padding: 0 5% 8% 5%; 
}

#foto {
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 2%;
}

#foto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    transition: 0.5s;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.texto-sobre h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.texto-sobre p {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.6;
    padding: 1%;
}

#tecnologias-utilizadas {
    display: flex;
    height: 10%;
    width: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5% 8% 5%; 
}

#tecnologias-utilizadas h1 {
    font-size: 3rem;
    justify-content: center;
    text-align: center;
}

#back-end h2, #front-end h2, #banco-de-dados, #versionamento h2 {
    justify-content: center;
    text-align: center;
    margin-top: 7%;
}

.tecnologias-container {
  display: flex;
  flex-direction: row;
  gap: 5%; 
  margin-top: 3%; 
}

.card-tecnologia {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    margin: auto;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    text-align: center;
}

.card-tecnologia img {
    max-width: 75%;
    height: auto;
    margin-bottom: 10px;
}

.card-tecnologia:hover {
    transform: translateY(-10px);
}

.tecnologias h4 {
    font-size: 1.7rem;
    text-align: center;
}

#certificaods-obtidos {
    display: flex;
    height: 100vh;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5% 8% 5%; 
}

#certificados-obtidos h1 {
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}

#certificados-udemy h2 {
    justify-content: center;
    text-align: center;
    margin-top: 7%;
}

.certificados-container {
  display: flex;
  flex-direction: row;
  gap: 5%; 
  margin-top: 3%;
  padding: 0 0 8% 0; 
}

#formacao {
    display: flex;
    height: 100vh;
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 8% 0; 
}

#formacao h1 {
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}

.formacao-container {
  display: flex;
  align-items: center;
  gap: 5%;  
}

#formacao-finalizada h2 {
    justify-content: center;
    text-align: center;
    padding: 0 0 3% 0; 
}

.formacao-container {
    display: flex;
    justify-content: center;
}

.formacao-container img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.formacao-texto 

.formacao-container p {
    width: 30%;
    height: auto;
}

.formacao-container a {
    text-decoration: none;
    color: inherit;
}

#rodape {
    color: #f1faee;
    display: flex;
    justify-content: center;
    align-items: center;
}